html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid gray;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: space-between; /* giữ 2 sidebar sát 2 bên */
}

.left-sidebar {
  flex: 0 0 250px;
}

.main-container {
  flex: 1;
}

.right-sidebar {
  flex: 0 0 250px;
}
