html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, white, rgb(255, 197, 90));
  padding: 20px 40px;
}

* {
  box-sizing: border-box;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #999;
  padding: 10px 20px;
}

main {
  flex: 1;                 
  display: flex;            
  flex-direction: column; 
}

.header {
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
  color: #b35c00;
  display: flex;
}
.header h1 {
  margin: 0;
  color: #b35c00;
}
.header h3 {
  font-style: italic;
  margin: 4px 0 0;
  color: #333;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px 0;
}

/* TWO COLUMNS */
.two-cols {
  display: flex;
  flex: 1;
  gap: 200px;
}

.logo {
  width: 80px;         
  height: auto;
}

.left-col {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}

.right-col {
  flex: 1;
}

.note-box {
  background-color: #fff3cd;
  border: 1px solid orange;
  padding: 15px;
  border-radius: 5px;
}

h2 {
  color: #b35c00;
  border-bottom: 1px solid #b35c00;
  padding-bottom: 4px;
}
h3 {
  color: #b35c00;
  margin-top: 1em;
}
a {
  color: #cc3300;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.footer {
  text-align: right;
  padding-top: 10px;
  font-size: 0.9em;
  color: #555;
  border-top: 1px solid #ccc;
}
